@charset "utf-8";
/* CSS Document */

/*ESTILOS PARA LOS BOTONES PARA ACTIVIDAD SELECCION DE BOTONES*/
.BtDefault{
	color: #fff;
	font-weight: 400;
	padding:5px; 
	margin:5px; 
	width:80%;
	height:125px; /*Altura de los botones*/
	background-color: #00aaf0;
	border-radius: 15px;
	vertical-align:bottom;
}
.BtCorrecto{
	color:aliceblue;
	background-color: yellowgreen;
}
.BtIncorrecto{
	color:aliceblue;
	background-color: tomato;
}
/*FIN ESTILO DE BOTONES*/
.actividad{
	max-width: 80%;
	background-color: #fff;
	padding: 30px;
	margin: 0 auto;
}
#pregunta{
	background-color: #336adb;
	color: aliceblue;
	font-weight: 500;
	width: auto;
	margin: 10px auto;
}
input{
	text-transform: uppercase;
}
.bg_fondo{ /*sombra de DIV de pantalla final*/
	max-height: 400px;
	max-width: 80%;
	background-color: #fff;
	box-shadow: 0 0 10px 10px rgba(100,100,100,0.5);
	padding: 30px;
}
.Bajar{ /*clase para animacion de pantalla de buen trabajo*/
	animation-name: AnimarFin;
	animation-duration: 2s;
	top: 20%;
	left: 20%;
	position: absolute;
  }
@keyframes AnimarFin{
	0%{
		opacity: 0;
		top: 0%;left: 20%;
	}
	100%{
		opacity: 1;
		top: 20%;left: 20%;
		/*transform:translate3d(0%, 30%, 25%) ;
		transition : transform 3s ease-in;*/
	}
}
@media only screen and (max-width:1200px){
	.bg_fondo{
	max-height: 300px;
	max-width: 85%;
	width: auto;
	background-color: #fff;
	box-shadow: 0 0 10px 10px  rgba(100,100,100,0.5);
	padding: 30px;
	}
	.Bajar{
		animation-name: AnimarFin;
		animation-duration: 2s;
		top: 20%;
		left: 14%;
		position: absolute;
	  }
	@keyframes AnimarFin{
		0%{
			opacity: 0;
			top: 0%;left: 14%;
		}
		100%{
			opacity: 1;
			top: 20%;left: 14%;
		}
	}
}
@media only screen and (max-width:700px){
	.bg_fondo{
	max-height: 300px;
	max-width: 85%;
	width: auto;
	background-color: #fff;
	box-shadow: 0 0 10px 10px  rgba(100,100,100,0.5);
	padding: 30px;
	}
	.Bajar{
		animation-name: AnimarFin;
		animation-duration: 2s;
		top: 20%;
		left: 10%;
		position: absolute;
	  }
	@keyframes AnimarFin{
		0%{
			opacity: 0;
			top: 0%;left: 10%;
		}
		100%{
			opacity: 1;
			top: 20%;left: 10%;
		}
	}
}
.Animar{
	transform:translate3d(150px, 100px, 0px) ;
    transition: transform 3s linear;
    display: table;
}
@keyframes ingresa{
   0% {
     top: 10%;
     left: 30%;
  }
}
#bg_calificacion{
	animation: IngresaCalificacion 0.7s 1;
	/*right: 8%;*/
}
@keyframes IngresaCalificacion{
	0%{left: -100%}
	100%{left: 0%}
}
#actividad{
	animation: IngresaActividad 1s 1;
}
@keyframes IngresaActividad{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@media screen and (max-width:980px){
	.Animar{
	/*animation:ingresa 1s 1;	*/
	 position: absolute;
    -webkit-animation: ingresa 2s linear 2s 1 ; /* Safari 4.0 - 8.0 */
    animation: ingresa 2s linear 2s 1 ;	
    top: 30%;
}
@keyframes ingresa{
    0%  { left:30%;top:30%;}
}