.actividad1{
	font-size: 16px;
	padding: 25px;
}
.bg_comprendo{
	background-color: #ECF4F0;
	border-radius: 15px 0;
	padding: 10px;
	font-size: 20px;
	margin-top: 20px;
}
.bg_azul{
    padding: 5px;
    background-color: #EBF4F9;
    border-radius: 10px;
}
.txt_lila{
	color:#BA007C
}
.txt_azul{
	color:#009BDB
}
.txt_naranja{
	color:#D68611;		
}
.txt_grosor{
	font-weight: 600px;
}
.recuadro1{
	border-radius: 15px 0;
	border: #B1BDDE solid 1px;
	padding: 10px;
	margin: 10px;
	display: table;
}
.recuadro2{
	border-radius: 15px 0;
	border: #D997A2 solid 1px;
	padding: 10px;
	margin: 10px;	
}
.numeracion1{
	font-size: 17px;
	color: #BA007C;
}
.tab_izquierdo{
	padding-left: 30px;
}
@media (max-width: 770px) {
  .cajas {
    clear: left;
  }
}