/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/*Controla el tamaño de los mensajes de noticias(Actividad, Nota)*/

/*BOTONES DE MENU PRINCIPAL*/
/*Controla el tamaño de los botones de menu */
@font-face{
    font-family: "Myriad_Regular";
    src: url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}
@font-face{
    font-family: "Myriad_Bold";
    src: url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}
body{
    font-family: Myriad_Regular;
}
b{
    font-family: "Myriad_Bold";    
}
.button{
    border: none;
    padding: 9px;
    margin: 2px;
    font-size: 20px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}
/*coloca fondo en blanco del boton*/
.button:hover{
    background: rgba(0,0,0,0);
}
@media (max-width: 767px) {

    .nota-ayuda{
        width: 96% !important;
        top: 110px !important;
    }
    .nav>li{
        display: inline;
    }
    .actividad{
        margin: 0 !important;
    }
    .nota{
        margin: 0 !important;
    }
    .pagina{
        margin: 0 !important;
    }
    .button {
        /*width: 100%;*/
        margin: 0;
        display: inline !important;
    }
    .derecha{
        margin: 0px;
    }
    .espacio{
        margin-top: 105px;
    }
    .mytooltip::before {
        display: none;
        content: attr(data-info);
        color: white;
        font-size: 13px;
        padding: 2px 6px;
        background: rgba(0,0,0,0.8);
        border-radius: 5px;
        position: absolute;
        top: 5px;
        left: 2px;
        /*min-width: 500px;*/
        z-index: 999;
    }
}
@media (max-width: 481px) {
    .espacio{
        margin-top: 146px;
    }

}
@media (max-width: 297px) {
    .espacio{
        margin-top: 195px;
    }
}

.derecha{
    float: right !important;
}

.espacio{
    margin-top: 60px;
}

.btnHelp {
    background: #ffffff;
    color: #330000;
    font-size: 2.5rem;
    padding: 5px;
}

.btnHelp:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 2px #428bca;
}
.button_1 {
    background: #428bca;
    color: #f2f2f2;
}

.button_1:hover {
    color: #428bca;
    box-shadow: inset 0 0 0 2px #428bca;
}
.button_2 {
    background: #5cb85c;
    color: #f2f2f2;
}

.button_2:hover {
    color: #5cb85c;
    box-shadow: inset 0 0 0 2px #5cb85c;
}
.button_3 {
    background: #5bc0de;
    color: #f2f2f2;
}

.button_3:hover {
    color: #5bc0de;
    box-shadow: inset 0 0 0 2px #5bc0de;
}
.button_4 {
    background: #d9534f;
    color: #f2f2f2;
}

.button_4:hover {
    color: #d9534f;
    box-shadow: inset 0 0 0 2px #d9534f;
}
.button_5 {
    background: #f2f2f2;
    color: #7a7a75;
}

.button_5:hover {
    color: #7a7a75;
    box-shadow: inset 0 0 0 2px #7a7a75;
}
/*FIN BOTONES DE MENU PRINCIPAL*/
/*ZONA  DE MENSAJES (ACTIVIDAD NOTA )*/
.notificacion{
    border: none;
    padding: 5px;
    margin: 8px;
    font-size: 2rem;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 4px;
}

.actividad{    
    background: #ea451c;
    color: #f2f2f2;
}
.nota{
    background: #22a9f7;
    color: #f2f2f2;
}
.pagina{
    background: #009933;
    color: #f2f2f2;
}
/*FIN ZONA  DE MENSAJES (ACTIVIDAD NOTA )*/

/*TITULO DE LA ACTIVIDAD*/
.titulo{
    color:#f2f2f2;
    font-size: 2.5em;
    font-weight: bold;
}
.titulo_2{
    color:#f2f2f2;
    font-size: 2em;
    font-weight: bold;
    display: block;
}
/*FIN TITULO DE LA ACTIVIDAD*/


/*tamaño de texto de las preguntas*/
/**/
.text-question{
    font-size: 1.7rem;
}

/*Seccion del icono de ayuda*/
.help{
    margin-top: -10px;
    margin-right: -8px;
    color: white;
    font-size: 5rem;
    text-shadow: 1px 3px 5px #80b3ff;
    cursor: pointer;
}

/*AYUDA*/
.ayuda{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-size: 1.7rem;
}


/****************************************************/
/*tool tip*/

.mytooltip {
    /*            border-bottom: 1px dashed gray;
                cursor: pointer;*/
    position:relative;
}

.mytooltip::before {
    display: none;
    content: attr(data-info);
    color: white;
    font-size: 13px;
    padding: 2px 6px;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    position: absolute;
    top: 55px;
    left: 10px;
    /*min-width: 500px;*/
    z-index: 999;
}

.mytooltip:hover::before {
    display: block;
}

.mytooltip-left {
    /*            border-bottom: 1px dashed gray;
                cursor: pointer;*/
    position:relative;
}

.mytooltip-left::before {
    display: none;
    content: attr(data-info);
    color: white;
    font-size: 13px;
    padding: 2px 6px;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: -65px;
    min-width: 170px;
    z-index: 999;
    text-align: center;
}

.mytooltip-left:hover::before {
    display: block;
}
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/

/*clases generales*/
/*agrega un espacio de 20px entre los elementos*/
.space{
    padding:20px;
}

/*agrega un espacio de 8px entre los elementos*/
.lte-space{
    padding: 8px;
}

/*coloca una sombra roja para indicar que NO ES dato valido*/
.no-valid{
    box-shadow: 1px 1px 6px #e83535;
    border-color:#e83535;
    background-color: #ff3333 !important;
}
/*coloca una sombra verde para indicar que ES dato valido*/
.valid{
    box-shadow: 1px 1px 6px greenyellow;
    border-color:greenyellow;
    background-color: #00ff00 !important;
}

/*oculta los elementos*/
.display-none{
    display: none;
}

/*no deja redimencionar una caja de texto*/
.no-redimensionar{
    resize: none;
}
/*tabla sin bordes*/
.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}


.error-color{
    color:#a30303;
}
.gray-box-shadow{
    box-shadow: 1px 2px 3px gray;
}
.red-box-shadow{
    box-shadow: 1px 2px 3px red;
}






/*texto para las actividades*/
.text-comprendo{
    color: #d68500;
}
.text-reflexiono{
    color: #98007f;
}
.text-exploro,.text-prueba, .text-problemas{
    color: #009277;
}
.text-aplico{
    color: #005ca4;
}
.text-evaluacion{
    color: #B499C2;
}
.text-refuerzo{
    color: white;
}
.text-white{
    color:white;
}


/*colores de fondo*/
.bg-comprendo{
    background-color: #d68500;
}
.bg-reflexiono{
    background-color: #98007f;
}
.bg-exploro, .bg-prueba,.bg-problemas{
    background-color: #009277;
}
.bg-aplico{
    background-color: #005ca4;
}
.bg-evaluacion{
    background-color: #B499C2;
}
.bg-refuerzo{
    background-color: #EF7D00;
}



/*bordes segun las actividades*/
.border-comprendo{
    border-color: #d68500 !important;
    border-style: solid;
    border-width: 1px;

}
.border-reflexiono{
    border-color: #98007f !important;
    border-style: solid;
    border-width: 1px;
}
.border-exploro, .border-prueba, .border-problemas{
    border-color: #009277 !important;
    border-style: solid;
    border-width: 1px;
}
.border-aplico{
    border-color: #005ca4 !important;
    border-style: solid;
    border-width: 1px;
}
.border-evaluacion{
    border-color: #B499C2 !important;
    border-style: solid;
    border-width: 1px;
}
.border-refuerzo{
    border-color: #EF7D00 !important;
    border-style: solid;
    border-width: 1px;
}


/*Bordes genericos*/

.border-1{
    border-width: 1px;
    border-color: #e83535 !important;
    border-style: solid ;
}
.border-2{
    border-width: 1px;
    border-color: #e89a35 !important;
    border-style: solid ;
}
.border-3{
    border-width: 1px;
    border-color: #fffb1e !important;
    border-style: solid ;
}
.border-4{
    border-width: 1px;
    border-color: #69ff1e !important;
    border-style: solid ;
}
.border-5{
    border-width: 1px;
    border-color: #00bc1f !important;
    border-style: solid ;
}
.border-6{
    border-width: 1px;
    border-color: #17edd0 !important;
    border-style: solid ;
}
.border-7{
    border-width: 1px;
    border-color: #179eed !important;
    border-style: solid ;
}
.border-8{
    border-width: 1px;
    border-color: #173eed !important;
    border-style: solid ;
}
.border-9{
    border-width: 1px;
    border-color: #db17ed !important;
    border-style: solid ;
}
.border-10{
    border-width: 1px;
    border-color: #960779 !important;
    border-style: solid ;
}
.border-11{
    border-width: 1px;
    border-color: #960606 !important;
    border-style: solid ;
}
.border-dashed-1{
    border-width: 1px;
    border-color: #e83535 !important;
    border-style: dashed ;
}
.border-dashed-2{
    border-width: 1px;
    border-color: #e89a35 !important;
    border-style: dashed ;
}
.border-dashed-3{
    border-width: 1px;
    border-color: #fffb1e !important;
    border-style: dashed ;
}
.border-dashed-4{
    border-width: 1px;
    border-color: #69ff1e !important;
    border-style: dashed ;
}
.border-dashed-5{
    border-width: 1px;
    border-color: #00bc1f !important;
    border-style: dashed ;
}
.border-dashed-6{
    border-width: 1px;
    border-color: #17edd0 !important;
    border-style: dashed ;
}
.border-dashed-7{
    border-width: 1px;
    border-color: #179eed !important;
    border-style: dashed ;
}
.border-dashed-8{
    border-width: 1px;
    border-color: #173eed !important;
    border-style: dashed ;
}
.border-dashed-9{
    border-width: 1px;
    border-color: #db17ed !important;
    border-style: dashed ;
}
.border-dashed-10{
    border-width: 1px;
    border-color: #960779 !important;
    border-style: dashed ;
}
.border-dashed-11{
    border-width: 1px;
    border-color: #960606 !important;
    border-style: dashed ;
}
/*borde grueso*/
.border-g-2{
    border-width: 2px !important;
}
.border-g-4{
    border-width: 4px !important;
}
/*left borders*/

.border-left-1{
    border-left-color: #e83535 !important;
    border-left-style: solid ;
}
.border-left-2{
    border-left-color: #e89a35 !important;
    border-left-style: solid ;
}
.border-left-3{
    border-left-color: #fffb1e !important;
    border-left-style: solid ;
}
.border-left-4{
    border-left-color: #69ff1e !important;
    border-left-style: solid ;
}
.border-left-5{
    border-left-color: #00bc1f !important;
    border-left-style: solid ;
}
.border-left-6{
    border-left-color: #17edd0 !important;
    border-left-style: solid ;
}
.border-left-7{
    border-left-color: #179eed !important;
    border-left-style: solid ;
}
.border-left-8{
    border-color: #173eed !important;
    border-left-style: solid ;
}
.border-left-9{
    border-left-color: #db17ed !important;
    border-left-style: solid ;
}
.border-left-10{
    border-left-color: #960779 !important;
    border-left-style: solid ;
}
.border-left-11{
    border-color: #960606 !important;
    border-left-style: solid ;
}

.text-underline{
    text-decoration: underline;
    text-decoration-color: red;
}

.inline{
    display: inline;
}




.nota-abierta{
    width: 55px;
    border: solid;
    background: none;   
    border-width: 1px;
    border-color: #007acc;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
}
.input1{
    width: 75px;
    border: solid;
    background: none;   
    border-width: 1px;
    border-color: #00cc00;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin: 6px;
}
.input-extend{
    width: 100px;
}
.input-reduce{
    width: 55px;
}
.input-full{
    width: 100%;
}
.out-margin{
    margin: 0 !important;
}

.double-extend{
    width: 200px;
}

.linea{
    border-style: solid;
    border-width: 1px;
}


.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nota-ayuda {
    padding:5px; /*Espaciado interno*/
    width:80%; /*Ancho del contenedor*/
    text-align:justify !important;
    background-color:#FFEE88; /*Color de fondo*/
    position:fixed; /*Permite que se mantenga estático*/
    display:none; /*Oculta el contenedor*/
    left:5px; /*Separación del borde izquierdo*/
    top:55px; /*Separación inferior del borde*/
    box-shadow:0 0 5px #555; /*Sombras CSS3*/
    z-index:20000;
}