.underline{
    text-decoration: underline;
    text-decoration-color: rgb(8, 106, 172);
    font-weight: bold;
    color:  rgb(8, 106, 172);
}
.seleccionCaja{
    background-color: rgb(34, 122, 204);
    color: white;
    border-radius: 5px;
}
.deseleccionCaja{
    background-color: white;
    color: black;
}
.markRespoIncor{
    background-color: red;
    color: black;
}
.btnAccordion{
    white-space: normal;
}
.notaAbiertaAccordion{
width: 55px;
border: solid;
background: none;   
border-width: 1px;
border-color: #ffffff;
text-align: right;
padding: 5px;
border-radius: 5px;
}
.dndAligned{
    display: grid;
}