.top {
    font-size: 80%;
    /*vertical-align: 0.7ex;*/
}

.fondo {
    font-size: 80%;
    /*vertical-align: -0.3ex;*/
}
.barra{
    font-size: 120%;
}
.entero{
    font-size: 130%;
    vertical-align: -0.3ex;
}
