@charset "utf-8";
/* CSS Document */

/*ESTILOS PARA LOS BOTONES PARA ACTIVIDAD SELECCION DE BOTONES*/
.BtDefault{
	color: #fff;
	font-weight: 400;
	padding:5px; 
	margin:5px; 
	width:50%;
	height:75px; /*Altura de los botones*/
	background-color: #00aaf0;
	border-radius: 15px;
	vertical-align:bottom;
}
.BtCorrecto{
	color:aliceblue;
	background-color: yellowgreen;
}
.BtIncorrecto{
	color:aliceblue;
	background-color: tomato;
}
/*FIN ESTILO DE BOTONES*/
/*.actividad{
	max-width: 80%;
	background-color: #fff;
	padding-bottom: 30px;
	margin: 15px auto;
}*/

