@charset "utf-8";
/* CSS Document */

.leng2font{
	font-family: "Myriad Pro";
	font-size: 20px;
	padding: 10px;
	text-align: center;
	
}

.leng2tit{
	font-family: "Myriad Pro";
	font-size: 25px;
	padding: 10px;
	color: #007bc4;
	text-align: center;
	
}