#prueba {
    margin-top: 2rem;
    display: block;
    box-sizing: border-box;
    padding: 0px;
    transition: all .3s linear 0s;
    width: 50%; /*ANCHO DE LA IMAGEN DE FONDO*/
    margin-left: auto;
    margin-right: auto;
    background-color: #e5e5e5;
    /*background-color:rgba(212,185,186,0.2); */ /*SI SE NECEITA UN COLOR DE FONDO ESPECIFICO*/
   /*background-image: url(../img/img.png); /* SI SE NECESITA UNA IMAGEN DE FONDO */
    background-size: 100% 100%;
}
.mi_canvas {
    min-width: 320px;
}

#logo {
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
    z-index: 1;
    width: 30%;
    height: auto;
    max-width: 350px;
    min-width: 100px;
}

#contenedoropciones {
    margin-top: 2rem;
    padding: 2px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#contenedoropciones table {
    background-color: rgba(220, 220, 220, 1.00);
    border: .25rem solid rgba(188, 185, 185, 1.00);
    margin-bottom: .5rem;
    border-spacing: 5px;
    border-collapse: separate;
}

#contenedoropciones table:nth-of-type(2) {
    border-spacing: 5px;
}

#contenedoropciones table:nth-of-type(2) td {
    width: 1px;
    white-space: nowrap;
}

#contenedoropciones table:nth-of-type(1) td {
    cursor: pointer;
}

#contenedoropciones .titulotabla {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgba(103, 103, 103, 1.00)
}

#contenedoropciones table {
    display: inline-table;
}

.celdascoloresdefondo {
    width: 20px;
    height: 10px;
    border: solid 1px transparent;
}

@media (max-width: 890px) {
    /*.mi_canvas {
          font-size: .750rem;
        }*/
    #contenedoropciones,
    #prueba {
        width: 98%
    }
    #contenedoropciones {
        margin-left: 1%;
    }
}

@media (max-width: 450px) {
    /*.mi_canvas {
          font-size: .75rem;
        }*/
}

@media (max-width: 1px) {
    #contenedoropciones #opcionesdedibujo {
        display: table;
        width: 100%;
    }
    #contenedoropciones #opcionesdedibujo td {
        display: block;
        width: auto;
        text-align: left;
        margin-top: 5px;
    }
}