.no-show{
    display:none;
}
.selected{
    text-shadow: rgb(85, 102, 68) 2px 2px 2px;
}
.btn-point{
    color:#adadad;
}
.btn-pencil{
    color:#0033cc;
}
.btn-eraser{
    color:#ffcc99;
}
.btn-refresh{
    color:#cc00cc;
}
.btn-show-hide{
    color:#cc00cc;
    float: left;
    margin: 5px;
    font-size: 2rem;
}

.cnv{
    cursor:url(img/brocha.png) 4 2,auto;
}