.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.menu a{
    text-decoration: none;
}
.menu a:hover{
    color: rgb(184, 138, 60);
    z-index: 100;
}
.mli{
    float: left;
    width: 50%;
    padding-bottom: 10px;
}

.btn1-menu{
    position: fixed;
    z-index: 10000;
    right: 10px;
    top: 10px;
}
.btn2-menu{
    position: fixed;
    z-index: 10000;
    left: 10px;
    top: 10px;
    
}
@media (max-width: 460px) {
    .mli{
        width: 100%;
    }
}