@charset "utf-8";
/* CSS Document */


/*PRUEBAS*/
#inferior{
	background-color:#231F1F;
	color: aliceblue;
	padding: 10px;
}
/*estilo cabecera evaluacion*/
#evaluacion{
	padding: 20px;
	margin: 40px 0;
	/*background: linear-gradient(to bottom, #f5f5f5 0%, #f2f2f2 100%);*/
	border: 8px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, #a9c488 0%, #6fa43a 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #a9c488 0%, #6fa43a 100%);
	border-image: linear-gradient(to right, #a9c488 0%, #6fa43a 100%);
	border-image-slice: 1;
	box-shadow: 6px 10px 20px 2px #aaaaaa;
}
.cabecera1{
	background-color: #6fa43a;
	padding: 6px 0;
}
.eval-titulo{
	font-family: "Century Gothic";
	width: auto;
	color: #fff;
	font-weight: 500;			
}
.fondo-e1{		
	padding: 5px;
}
.fondo-e2{			
	font-size: 35px;
	background-color: #727175;
	padding: 0 10px 5px 8px;
}
/*estilo datos alumno*/
.d-alumno{
	font-weight: 600;
}
/*estilos preguntas*/
.titulo-pregunta{
	font-family: Arial;
	margin: 10px 0;
}
.p-bg-titulo-1{
	background-color: #e5e5f1;
}
.p-bg-titulo-2{
	background-color: #f0f5e9;			
}
.p-bg-titulo-3{
	background-color: #f3e8e1;			
}
.p-bg-titulo-4{
	background-color: #fef69f;			
}
.p-bg-titulo-5{
	background-color: #f8eff4;			
}
.p-bg-titulo-6{
	background-color: #fefbd3;			
}
.p-titulo{			
	padding: 15px;
	line-height: 25px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	font-size: 18px;
}
/*estilo de preguntas*/
#contenido-pregunta-1{
	font-size: 18px;
}
#contenido img{
	width: 75%;
}
.checkbox1{
	width: 20px;
	height: 20px;
	background-color: aqua;
	margin-right: 10px;
	border: none;
}
.fondo-label{
	background-color: #f5f5f5;
	border: solid 1px #bab6b6;
	padding: 10px;
	border-radius: 10px;
}
.texto-check{
	padding-left: 10px;
	font-size: 12px;
	font-family: Arial;
}
#contenido-pregunta-2{
}
#contenido-pregunta-3{
}
#p3-textos{
	border:#5B2D05 solid 2px;
	border-radius: 20px;
	padding: 15px;
	width: 80%;
	margin: 5px auto;
}
.ancho-pregunta{
	width: 80%;
	margin: 0 auto;
}
/*respuestas*/
.respuestas{
	font-size: 18px;
	font-weight: 600
}
/*PREGUNTA 4 BOTONES*/
/*ESTILOS PARA LOS BOTONES PARA ACTIVIDAD SELECCION DE BOTONES*/
.BtDefault{
	color: #000;
	font-weight: 400;
	padding:5px; 
	margin:5px; 
	width:98%;
	height:60px; /*Altura de los botones*/
	background-color:#f5f5f5;
	border-radius: 15px;
	vertical-align:bottom;
}
.BtSeleccionado{
	color:aliceblue;
	background-color:#00aaf0;
}
.BtCorrecto{
	color:aliceblue;
	background-color: yellowgreen;
}
.BtIncorrecto{
	color:aliceblue;
	background-color: tomato;
}
/*FIN PREGUNTA 4 BOTONES*/
.affix {
	top: 0;
	z-index: 9999 !important;
	background-color:#231A1A;
	color: aliceblue;
}
.affix + .container-fluid {
  padding-top: 70px;		  
}
@media only screen and (max-width: 700px){
.ancho-pregunta{
	width: 98%;
	margin: 0 auto;
}
}
		
