@charset "utf-8";
/* CSS Document */


.fondo{
	
	background-color: #e3f1ec;
	border: 2px solid #e3f1ec;
	border-radius: 35px 0px;
	
	
}

.fondo2{
	
	background-color: #f3edf7;
	border: 2px solid #f3edf7;
	border-radius: 35px 0px;
	
	
}

.fondo26{
	
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 35px;
	max-width: 800px
	
		
}

.fondo261{
	
	background-color: #fff3d8;
	border: 2px solid #fff3d8;
	border-radius: 35px;
	max-width: 800px
	
		
}



.fondo262{
	
	background-color: #ecf1d1;
	border: 2px solid #ecf1d1;
	border-radius: 35px;
	max-width: 800px
		
}

.fondo30{
	
	background-color: #e3f1ec;
	border: 2px solid #e3f1ec;
	border-radius: 35px 0px;
	max-height: 900px
	
	
}


.fondo301{
	
	background-color: #964091;
	border: 2px solid #964091;
	border-radius: 35px;
	width: 150px;
	height: 50px;
	padding-top: 7px;
	
}


.fondo302{
	
	background-color: #fffcef;
	border-radius: 30px;
	width: 700px;
	height: 100px;
	padding: 10px;

	
}


.fondo303{
	
	background-color: #fffcef;
	border-radius: 30px;
	width: 250px;
	height: 150px;
	padding: 10px;

}

.fondo304{
	
	background-color: #fffcef;
	border-radius: 30px;
	width: 300px;
	height: 180px;
	padding: 10px;

}

.fondo305{
	
	background-color: #fffcef;
	border-radius: 30px;
	width: 300px;
	height: 150px;
	padding: 10px;

}


.fondo306{
	
	background-color: #fffcef;
	border-radius: 30px;
	width: 300px;
	height: 180px;
	padding: 10px;

}


.fuente {
	
	font-family: "Myriad Pro";
	font-size: 20px;
	padding: 10px;
	text-align: justify;
		
}

.fuente2 {
	
	font-size: 20px;
	padding: 10px;
	text-align: center;
		
}



.fuente39 {
	
	font-size: 20px;
	text-align: justify;
		
}

.fuente391{
	
	font-size: 25px;
	text-align: center;
	color: #009dc5;
		
}



.font28{
	
	font-size: 20px;
	color: #b80e80;
	
}

.font261{
	
	font-size: 20px;
	color: #ef7d00;
	text-align: center;

	
}


.font262{
	

	font-size: 20px;
	color: #005ca9;
	text-align: center;

}


.font263{
	
	font-size: 20px;
	color: #009870;
	text-align: center;
	
}


.fuente30 {
	
	font-size: 20px;
	color: #ffffff;
	text-align: center;
		
}


.fuentecolorlista {
	
	color: #005ca9;
	font-size: 20px;
}

.colfon22{
	
	font-size: 20px;
	padding-left: 10px;
	text-align: justify;
	color: #009870;
	
	
}


.titulex{
	
	font-size: 25px;
	color: #5c2483;
	text-align: center;
	
	
}


.cuadro1{
	
	background-color: #fff3d8;
	border: 2px solid #fff3d8;
	border-radius: 15px 0px; 
	width: 200px;
	height: 400px;
	
	}

.cuadro2{
	background-color: #fff3d8;
	border-radius: 15px 0px;
	width: 400px;
	height: 90px;
	
}

.cuadro3{
	
	background-color: #ffffff;
	
	border-radius: 15px 0px; 
	width: 150px;
	height: 40px;
	
	}

.cuadro4{
	background-color: #ffffff;
	border-radius: 15px 0px;
	width: 400px;
	height: 90px;
	
}

.cuadro5{
	
	background-color: #e7dcee;
	border: 2px solid #e7dcee;
	border-radius: 15px 0px; 
	width: 400px;
	height: 90px;
	
	}

.cuadro6{
	background-color: #e7dcee;
	border-radius: 15px 0px;
	width: 400px;
	height: 60px;
	
}

.cuadro7{
	
	background-color: #dceac5;
	border: 2px solid #dceac5;
	border-radius: 15px 0px; 
	width: 150px;
	height: 40px;
	
	}

.cuadro8{
	background-color: #dceac5;
	border-radius: 15px 0px;
	width: 400px;
	height: 60px;
	
}

.tamimg{
	width: 300px;
	height: 60px;
	
	
	
}


.cuadro20{
	
	border: 2px solid #ffffff;
	border-radius: 15px;
	background-color: #ffffff;

	
}

.cuadro32{
	
	background-color: #ffffff;
	border-radius: 30px;
	width: 200px;
	height: 90px;
	text-align: center;
	vertical-align: middle
	
	
}

















